{% extends "fullscreen.html" %}
{% load i18n %}
{% block title %} {% trans "Risiko Calculator" %} - {{ block.super }} {% endblock %}

{% block head %}
{% include "geonode/ext_header.html" %}
{% include "geonode/app_header.html" %}
{% include "geonode/geo_header.html" %}
<script src="http://www.google.com/jsapi?key={{GOOGLE_API_KEY}}"></script>
<script type="text/javascript">
    google.load("earth", "1");
</script>

<link rel="stylesheet" type="text/css" href="{{ GEONODE_CLIENT_LOCATION }}theme/ux/colorpicker/color-picker.ux.css" />
<style type="text/css">
    #templates { display: none; }
</style>

<script src="{{ GEONODE_CLIENT_LOCATION }}script/PrintPreview.js"></script>
<link rel="stylesheet" type="text/css" href="{{ GEONODE_CLIENT_LOCATION }}externals/PrintPreview/resources/css/printpreview.css" />
<script src="{{GEOSERVER_BASE_URL}}pdf/info.json?var=printCapabilities" type="text/javascript"></script>
{{ block.super }}
<script src="{{ STATIC_URL }}risiko/Risiko.js" ></script>

<script type="text/javascript">
var app;
Ext.onReady(function() {
{% autoescape off %}
    var config = Ext.apply({
        useBackgroundCapabilities: false,
        proxy: "/proxy/?url=",

        /* The URL to a REST map configuration service.  This service 
         * provides listing and, with an authenticated user, saving of 
         * maps on the server for sharing and editing.
         */
        rest: "/maps/",
        homeUrl: "{% url geonode.views.index %}",
        localGeoServerBaseUrl: "{{ GEOSERVER_BASE_URL }}",
        csrfToken: "{{ csrf_token }}"
//    }, {{ config }});

    //FIXME: Remove this hardcoded data, and implement real config
    }, {"defaultSourceType": "gx_wmssource",
        "about": {"abstract": "Calculated by Risk in a Box", "title": "Impact map"},
        "map": {"layers": [
                     {"opacity": 1, "group": "background", "args": ["No background"], 
                      "visibility": false, "source": "0", "fixed": true, "type": "OpenLayers.Layer"
                     }, {
                       "opacity": 1, "group": "background", "args": ["OpenStreetMap"],
                       "visibility": true, "source": "0", "fixed": true, "type": "OpenLayers.Layer.OSM"
                     }, {
                       "opacity": 1, "group": "background", "args": ["bluemarble", "http://maps.opengeo.org/geowebcache/service/wms", {"layers": ["bluemarble"], "tiled": true, "tilesOrigin": [-20037508.34, -20037508.34], "format": "image/png"}, {"buffer": 0}], "visibility": false, "source": "0", "fixed": true, "type": "OpenLayers.Layer.WMS"
                     }, {
                       "opacity": 1, "group": "background", "name": "SATELLITE", "visibility": false, "source": "1", "fixed": true
                 }], 
        "center": [12501178.816084614, -882223.77466104657], 
        "units": "m", 
        "maxResolution": 156543.03390000001, 
        "maxExtent": [-20037508.34, -20037508.34, 20037508.34, 20037508.34],  
        "zoom": 5, 
        "projection": "EPSG:900913"}, 
        "id": null, 
        "sources": 
               {"1": 
                  {
                  "apiKey": "ABQIAAAAkofooZxTfcCv9Wi3zzGTVxTnme5EwnLVtEDGnh-lFVzRJhbdQhQgAhB1eT_2muZtc0dl-ZSWrtzmrw", 
                  "ptype": "gx_googlesource"
                        }, 
                "0": {"ptype": "gx_olsource"}, 
                "2": {"url": "{{ GEOSERVER_BASE_URL }}/wms", "ptype": "gx_wmssource"}}
    });

    app = new Risiko(config);

{% endautoescape %}
});

</script>
<style>
.langbar {
     margin-right: 150px;
     right: 0;
     position: absolute;
     padding-top: 5px;
}
</style>
{% endblock %}

{% block body %}
<div id="header-wrapper">
  {{ block.super }}

    {% get_current_language as LANGUAGE %}

                                                                                                                         
    <form class="langbar" id="target" action="/i18n/setlang/" method="post">
      {% csrf_token %}
       <div style="display: inline;">
         <select id="langval" name="language" onchange="javascript:form.submit()">
           {% for lang in LANGUAGES %}
            <option value="{{ lang.0 }}"{% ifequal LANGUAGE_CODE lang.0 %} selected="selected"{% endifequal %}>{{ lang.1     }}</option>
           {% endfor %}
         </select>
       </div>
     </form>


  <div id="crossbar">
    <div class="wrap selfclear">
      {% block nav %}
    <ul id="sitenav" class="selfclear">
        <li class="home"><a href="/">{% trans "Calculator" %}</a></li>
        <li class="home"><a href="{% url geonode.views.index %}">{% trans "Index" %}</a></li>
        <li class=""><a class="" id="dataLink" href="{% url geonode.maps.views.browse_data %}">{% trans "Data" %}</a></li>
        <li class=""><a class="" id="mapsLink" href="{% url geonode.maps.views.maps %}">{% trans "Maps" %}</a></li>
    {% if user.is_authenticated %}
        <li class=""><a class="" id="profileLink" href="{% url profiles_profile_detail user.username %}">{% trans "Profile" %}</a></li>
    {% if user.is_staff %}
        <li class=""><a class="" id="adminLink" href="/admin/">{% trans "Admin" %}</a></li>
    {% endif %}

    {% endif %}
    </ul>
      {% endblock %}
    </div><!-- /.wrap -->
  </div><!-- /#crossbar -->

</div>
<div id="templates">
  <div id="more-info-tpl">

  </div>
  <div id="title-tpl">
    
    </div>
</div>
{% endblock %}
