### Git and svn repos
-e git+https://github.com/ericflo/django-avatar.git#egg=avatar
-e git+git://github.com/cmheisel/nose-xcover.git#egg=nosexcover
-e svn+http://svn.gispython.org/svn/gispy/OWSLib/trunk/@1717#egg=OWSLib
-e git+git://github.com/dwins/gsconfig.py.git#egg=gsconfig.py

Django==1.3
FormEncode==1.2.2
Jinja2==2.5.5
Paste==1.7.4
PasteDeploy==1.3.3
PasteScript==1.7.3
Pygments==1.4
Sphinx==1.0.7
Werkzeug==0.6.2
coverage==3.4
dj.paste==1.9
django-extensions==0.6
django-nose==0.1.2
django-profiles==0.2
django-rosetta==0.6.0
django-staticfiles==0.3
docutils==0.7
httplib2==0.6.0
logilab-astng==0.21.1
logilab-common==0.55.0
mock==0.7.0
nose==0.11.1
nose-cover3==0.0.7
pyOpenSSL==0.10
pylint==0.23.0
python-openid==2.2.4
scgi==1.13
simplejson==2.1.3
unittest2==0.5.1
paramiko==1.7.6
Fabric==1.2.0
https://bitbucket.org/ubernostrum/django-registration/get/tip.zip


### This needs actually the 'openrdi' branch in that geonode repo
#-e git+git://github.com/GFDRR/geonode.git#egg=geonodepy

### Use system packages for this ones
#reportlab==2.4
#numpy==1.3.0
#PIL==1.1.7
#scipy==0.7.2
#GDAL==1.6.3

